USE [u_kurowski]
GO
/****** Object:  View [dbo].[vIndividualDiscounts]    Script Date: 27.02.2021 12:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vIndividualDiscounts]
AS
SELECT        dbo.Customer.CustomerID, dbo.IDiscount.DiscountID, dbo.IndividualCustomerDiscount.BeginDate AS assinged, dbo.IndividualCustomerDiscount.EndDate AS expire, dbo.IDiscount.BeginDate AS start, 
                         dbo.IDiscount.EndDate AS [end], dbo.IDiscount.RestaurantID
FROM            dbo.IndividualCustomerDiscount INNER JOIN
                         dbo.IDiscount ON dbo.IndividualCustomerDiscount.DiscountID = dbo.IDiscount.DiscountID INNER JOIN
                         dbo.Customer ON dbo.IndividualCustomerDiscount.CustomerID = dbo.Customer.CustomerID
WHERE        (dbo.IDiscount.BeginDate <= GETDATE()) AND (dbo.IndividualCustomerDiscount.BeginDate <= GETDATE()) AND (dbo.IndividualCustomerDiscount.EndDate >= GETDATE()) AND (dbo.IDiscount.EndDate >= GETDATE())
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Customer"
            Begin Extent = 
               Top = 151
               Left = 25
               Bottom = 247
               Right = 195
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "IDiscount"
            Begin Extent = 
               Top = 126
               Left = 422
               Bottom = 256
               Right = 592
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "IndividualCustomerDiscount"
            Begin Extent = 
               Top = 31
               Left = 227
               Bottom = 161
               Right = 397
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vIndividualDiscounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vIndividualDiscounts'
GO
